// Colors

$green: #4CAF50;
$dark-green: #388E3C;
$light-green: #C8E6C9;

$grey: #BDBDBD;
$dark-grey: #757575;

$red: #F44336;

$white: #FFFFFF;
$black: #212121;

// Sizes

$tablet-width: 768px;
$desktop-width: 992px;
